body {
}

/*menu*/
.header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.logo{
    width: 20%; 
    height: 80px;
    padding-left:100px;
}

.imglogo{
    width:80%;
    padding-top:15px;
    padding-left: 25px;
}

.menu{
    width: 80%;
    height: 80px;
}

.writing{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:center;
}

.amenu {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:30px;
}

/*body*/
.tbody {
    width: 100%;
    height: 2200px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.banner {
    width: 85%;
    height: 400px;
    align-self: center;
    padding-top: 25px;
    border-top: solid #D9C407 2px;
}

.imgbanner {
    height: 400px;
    width: 80%;
    padding-left:120px;
}

.descrip {
    width: 85%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    align-self:center;
}

.dog{
    width: 50%;
    padding-left: 50px;
    padding-top:20px;
}

.imgdog{
    width:90%;
}

.conteudo{
    width: 50%;
    padding-right:40px;
    padding-top: 35px;
}

.textobody {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align:center;
}

.servicos {
    width: 85%;
    height: 420px;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.caixa {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.grande {
    background-color: #FFD943;
    width: 70%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    /*border-bottom: #FFD943 solid 2px;*/
    border-radius: 20px 20px;
}

.imagemg{
    width: 30%;
    height:200px;
    align-content:center;
}

.imggrande{
    width:60%;
    padding-left:45px;
    padding-top:5px;
}

.nomeg {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left:55px;
}

.conteudog{
    width:70%;
    height:200px;
    padding-top:5px;
}

.textog {
    text-align: left;
    font-size: 26px;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left:15px;
    padding-right:25px;
}

.pequeno {
    background-color: #FFEA95;
    width: 30%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    border-radius: 20px 20px;
    align-content: center;
}

.imagemp {
    width: 80%;
}

.imgpequeno {
    width:56%;
    padding-top:10px;
    padding-left:90px;
}

.nomep {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left: 150px;
}

.nomeb {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

.opniao {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    font-weight:500;
    text-align:center;
}

.opnioes {
    width: 85%;
    height:500px;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.box {
    width: 33%;
    height: 500px;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    border-radius: 20px 20px;
    border-left-color: #D9C407;
    border-right-color: #D9C407;
    border-left-width: 3px;
    border-right-width: 3px;
    flex-direction: column;
}

.perfil{
    width:100%;
    height:40%;
    padding-top:25px;
    padding-left:100px;
}

.nomel {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left:35px;
}

.escrito{
    width:100%;
    height:35%;
    padding-top:10px;
    text-align:center;
}

.textoe {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.avaliacao {
    width: 100%;
    height: 25%;
}

.imgava{
    width:80%;
    padding-left:30px;
    padding-top:10px;
}

.footer {
    width: 85%;
    height: 350px;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    border-top: #D9C407 solid 3px;
    border-bottom: #D9C407 solid 3px;
}

.info{
    width:60%;
    height:280px;
    padding-top:25px;
    flex-direction:column;
}

.pontos{
    width:100%;
    height:60px;
    padding-left:30px;
    display:flex;
}

.imgp{
    width:40px;
    height:40px;
    padding-top:10px;
}

.textop {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight:bold;
}

.maps{
    width:40%;
    height:295px;
    padding-top:20px;
}

/*hospedagem*/
.hbody {
    width: 100%;
    height: 2200px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction:column;
}

.tipos {
    background-color: aqua;
    width: 85%;
    height: 1000px;
    align-self: center;
    padding-top: 25px;
    border-top: solid #D9C407 2px;
    flex-direction:row;
}

.caixa2 {
    background-color: blueviolet;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.a, .a1, .a2{
    background-color:brown;
    width:33%;
    height:270px;
    border-radius: 20px 20px;
    padding-left:15px;
    padding-right: 15px;
}

.a {
    border-top: solid 3px #FF6B00;
    border-bottom: solid 3px #FF6B00;
    border-left: solid 3px #FF6B00;
    border-right: solid 3px #FF6B00;
}

.a1 {
    border-top: solid 3px #D9C407;
    border-bottom: solid 3px #D9C407;
    border-left: solid 3px #D9C407;
    border-right: solid 3px #D9C407;
}

.a2 {
    border-top: solid 3px #C55E14;
    border-bottom: solid 3px #C55E14;
    border-left: solid 3px #C55E14;
    border-right: solid 3px #C55E14;
}

.titulo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
}

.um {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    text-align: left;
}

.icone {
    background-color: cadetblue;
    width: 20%;
    height: 50px;
    padding-left: 260px;
}

.imgicone{
    width:78%;
}

.beneficios {
    background-color: #FFD322;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding-top:30px;
}

.b {
    background-color: chartreuse;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.iconeb{
    background-color: chocolate;
    width: 100%;
    height: 30%;
}

.textob{
    background-color:cornsilk;
    width:100%;
    height: 40%;
}