/* ========== BIBLIOTECA ========== */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/* ========== PROJETO ========== */
body {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/Background.png)
}



/* ========== LOGIN ========== */

/*containers*/
#Tela {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Login {
    width: auto;
    height: auto;
    background-color: #FFCC01;
    border-radius: 20px;
    padding: 25px;
    display: inline-flex;
}

#Entrar {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}

/*componentes*/
#Logo{
    height: 292px;
    margin-right: 25px;
}

#DdlTipo {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    border-color: #FFCC01;
    background-color: white;
}

#LblUser, #LblSenha, #LblRedefinir, #LblTipoUser {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: #FFCC01;
}

#TxtUser, #TxtSenha, #TxtRedefinir {
    font-size: 30px;
    border-color: #FFCC01;
    color: #0185FF
}

#LblEsqSenha {
    text-decoration:none;
    color: black;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.BtnEntrar {
    background-color: #FFCC01;
    Border-Color: #FFCC01;
    font-family: 'Jua', AcmeFont;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
}

/*effects*/
.BtnEntrar:hover{
    background-color: #0185FF;
    Border-Color: #0185FF;
}

#LblEsqSenha:hover {
    color: #0185FF;
}