/* ========== BIBLIOTECA ========== */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/* ========== PROJETO ========== */
body {
    margin: 0px;
    padding: 0px;
}



/* ========== LOGIN ========== */

/*containers*/
#Tela {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Login {
    width: auto;
    height: auto;
    background-color: #FFCC01;
    border-radius: 20px;
    padding: 25px;
    display: inline-flex;
}

#Entrar {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}

/*componentes*/
#Logo{
    height: 251px;
    margin-right: 25px;
}

#LblUser, #LblSenha {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: #FFCC01;
}

#TxtUser, #TxtSenha {
    font-size: 30px;
    border-color: #FFCC01;
    color: #0185FF
}

.Left {
    text-align: left;
}

#LblEsqSenha {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    text-align: left;
}