/* ========== BIBLIOTECA ========== */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');



/* ========== PROJETO ========== */
body {
    margin: 0px;
    padding: 0px;
}



/* ========== MASTER PAGE ========== */

/*containers*/
#DivMenu, #DivAbas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#DivMenu {
    width: 100vw;
    height: 5.857vw;
    background: #FFCC01;
}

#DivAbas {
    height: 5.124vw;
    text-align: center;
    margin-left: 1.830vw;
    margin-right: 1.830vw;
}

/*componentes*/
#ImgLogo {
    height: 5.124vw;
    margin-left: 1.830vw;
}

#LblAgenda, #LblPendentes, #LblRendimentos, #LblCurriculos {
    text-decoration: none;
    color: white;
    font-family: Jua, AcmeFont;
    font-size: 2.416vw;
    display: inline-block;
    padding-left: 2.928vw;
    padding-right: 2.928vw;
}

#ImgBll {
    height: 5.124vw;
    margin-right: 0.732vw;
}

#ImgUser {
    height: 5.124vw;
    margin-right: 1.830vw;
}

/*effects*/
#LblAgenda:hover, #LblPendentes:hover, #LblRendimentos:hover, #LblCurriculos:hover {
    color: #0185FF;
}